body {
    background-image: linear-gradient( rgb(123, 167, 218), rgb(152, 199, 221));
}

.col-md-7 {
    background-color: rgb(83, 233, 163);
    color: rgb(97, 19, 43);
    border: 3px solid black;
}